<div fxLayout="row" fxLayoutAlign.sm="start center" fxLayoutAlign="center center"  class="main-div">
  <mat-card >
    <mat-card-title > Login</mat-card-title>
    
    <form autocomplete="off" class="loginStyle">
     
      <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput type="text">      
        
      </mat-form-field>
      
      
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password">  
       
      </mat-form-field>
      
    
      
      
  
      
    </form>
    
  </mat-card>
  </div>